<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="boom-button">
        <button @click="boomClick" style="width: 25px; height: 25px;">{{ boomValue }}</button>
    </div>
    <div id="boom-button1">
        <button @click="boomClick" style="width: 25px; height: 25px;">{{ boomValue }}</button>
    </div>
    
    <script>
        var boomButton = new Vue({
            el: '#boom-button',
            data: {
                boomValue: '-',
                hideValue: '*',
            },
            methods: {
                boomClick: function(){
                    if(this.hideValue == '-') return;
                    this.boomValue = this.hideValue
                }
            },
            computed: {
                
            },
        });

        var boomButton1 = new Vue({
            el: '#boom-button1',
            data: {
                boomValue: '-',
                hideValue: '-',
            },
            methods: {
                boomClick: function(){
                    if(this.hideValue == '-') return;
                    this.boomValue = this.hideValue
                }
            },
            computed: {
                
            },
        });
    </script>
</body>
</html>